.step-indicator {
  width: 100%;
  height: auto;
  user-select: none;

  & > p {
    @include typography(app-avatar-s);

    color: var(--text-body-primary);

    & > span {
      color: var(--text-body-tertiary);
    }
  }
}
