#select-mfa-instance-page {
  > .label {
    font: var(--t-body-xs-500);
    color: var(--fg-white-60);
    padding-bottom: var(--spacing-md);
  }

  .instances {
    display: flex;
    flex-flow: column;
    row-gap: var(--spacing-md);
    width: 100%;
    padding-bottom: var(--spacing-xl);
  }
}
