@use '@scssutils' as *;

#client-add-tunnel-page {
  h1 {
    @include typography(app-title);
    color: var(--text-body-primary);
  }

  h2 {
    @include typography(app-body-1);
    color: var(--text-body-primary);
  }
  h3 {
    @include typography(app-side-bar);
    color: var(--text-body-primary);
  }

  form {
    & > * {
      width: 100%;
    }

    .controls {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      .btn {
        width: 100%;
        max-width: 200px;
      }
    }
  }

  & > header {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 15px;

    & > h1 {
      text-align: left;
    }
  }

  & > .content {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    row-gap: 50px;
    column-gap: 50px;

    @include media-breakpoint-up(xxl) {
      justify-content: flex-start;
    }

    & > * {
      width: 100%;
      max-width: 700px;
    }

    & > .card {
      box-sizing: border-box;
      padding: 32px 64px;
      & > header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        & > .controls {
          display: flex;
          gap: 15px;
        }
      }
      form {
        & > .client {
          border-bottom: 1px solid var(--border-primary);
          margin-bottom: 10px;
        }
        & > h3 {
          margin-bottom: 10px;
        }
        .advanced-options-header {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-bottom: 10px;
          & > button {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
          }
          .arrow-single {
            width: 22px;
            height: 22px;
            margin-left: auto;
          }
          .underscore {
            flex-grow: 1;
            border-bottom: 1px solid var(--border-primary);
            margin-right: 10px;
          }
        }
        .advanced-options {
          display: none;
          transition: opacity 0.5s ease;
        }

        .advanced-options.open {
          display: block;
        }
        > .controls {
          padding-top: 42px;

          .btn {
            height: 47px;
          }
        }
      }
    }
  }
}
