.mfa-start-loader {
  > .loader-content {
    display: flex;
    min-height: 140px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);

    p {
      font: var(--t-body-xs-500);
      color: var(--fg-white-70);
    }
  }
}
