.location-card-info-connected,
.location-card-info-ip,
.location-card-allowed-traffic {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  justify-items: flex-start;

  & > label {
    @include typography(app-modal-1);

    color: var(--text-body-tertiary);
    user-select: none;
    margin-bottom: 8px;
    display: block;
    text-align: left;
  }

  & > p {
    @include typography(app-button-xl);

    color: var(--text-body-primary);
    text-align: left;
  }

  & > .assigned-ip-container {
    cursor: help;

    & > label {
      text-align: right;
    }

    & > p {
      @include typography(app-button-xl);

      color: var(--text-body-primary);
      text-align: right;
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.location-card-info-ip {
  justify-items: flex-end;
  justify-content: flex-end;
  align-items: flex-end;

  & > label {
    text-align: right;
  }
}
