@use '@scssutils' as *;

.location-card-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  user-select: none;

  & > svg {
    width: 24px;
    height: 24px;
    path {
      stroke: var(--surface-important);
    }
  }

  & > .location-name {
    display: block;
    text-align: left;

    @include typography(app-side-bar);
    color: var(--text-body-primary);
  }

  &.active {
    & > svg {
      path {
        stroke: var(--surface-positive-primary);
      }
    }
  }
}
