.location-card-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  user-select: none;

  & > svg {
    width: 24px;
    height: 24px;

    path {
      stroke: var(--surface-important);
    }
  }

  & > .location-name {
    display: block;
    text-align: left;

    @include typography(app-side-bar);
    color: var(--text-body-primary);
  }

  &.active {
    & > svg {
      path {
        stroke: var(--surface-positive-primary);
      }
    }
  }

  & > .addresses-badge-container {
    position: relative;
    cursor: help;

    & > .client-addresses {
      max-width: 90px;

      & > span {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.list-addresses-floating {
  list-style: none;
  display: flex;
  flex-flow: column;
  row-gap: var(--spacing-xs);
  max-height: 250px;
  max-width: 100dvh;
  overflow: auto;
  padding: var(--spacing-xs);
  margin: 0;

  li {
    @include typography(app-modal-1);
    color: var(--text-body-secondary);
  }
}
