@use '@scssutils' as *;

#location-logs {
  & > .top {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px 20px;
    border-bottom: 1px solid var(--border-primary);

    :nth-child(2) {
      margin-left: auto;
    }
  }

  & > .logs-container {
    contain: paint;
    height: 300px;
    max-height: 300px;
    max-width: 100%;
    overflow: auto;
    box-sizing: border-box;
    margin: 20px 5px 20px 20px;

    p {
      @include typography(app-code);
      color: var(--text-body-primary);
    }
  }
}
