<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- Component to include the PowerShell script -->
    <Component Id="ProvisioningScriptFragment" Directory="INSTALLDIR" Guid="*">
      <File Id="GetProvisioningConfigScript" Source="..\..\resources-windows\scripts\Get-ProvisioningConfig.ps1" KeyPath="yes"/>
    </Component>

    <!-- Define public properties that can be passed to the MSI -->
    <Property Id="PROVISIONING" Secure="yes"/>
    <Property Id="ADATTRIBUTE" Value="extensionAttribute1"/>
    
    <!-- Custom action to run the PowerShell script -->
    <CustomAction Id="RunProvisioningScript"
                  Directory="INSTALLDIR"
                  Execute="deferred"
                  Impersonate="yes"
                  Return="check"
                  ExeCommand="powershell.exe -ExecutionPolicy Bypass -File &quot;[INSTALLDIR]Get-ProvisioningConfig.ps1&quot; -ADAttribute &quot;[ADATTRIBUTE]&quot;"/>
    
    <!-- Schedule the custom action to run only if PROVISIONING property is set -->
    <InstallExecuteSequence>
      <Custom Action="RunProvisioningScript" After="InstallFiles">PROVISIONING AND NOT REMOVE</Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
