<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <!-- Component to include the PowerShell script -->
    <ComponentGroup Id="ProvisioningScripts">
      <Component Id="ProvisioningScriptFragment" Directory="INSTALLDIR">
        <File Id="GetProvisioningConfigScript" Source="src-tauri\resources-windows\scripts\Get-ProvisioningConfig.ps1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
  
  <Fragment>
    <!-- Define public properties that can be passed to the MSI -->
    <!-- Uppercase names make them public and settable from command line -->
    <Property Id="PROVISIONING" Secure="yes"/>
    <Property Id="ADATTRIBUTE" Value="extensionAttribute1"/>
    
    <!-- Custom action to run the PowerShell script -->
    <CustomAction Id="RunProvisioningScript"
                  Directory="INSTALLDIR"
                  Execute="deferred"
                  Impersonate="yes"
                  Return="check"
                  ExeCommand="powershell.exe -ExecutionPolicy Bypass -File &quot;[#GetProvisioningConfigScript]&quot; -Silent -ADAttribute &quot;[ADATTRIBUTE]&quot;"/>
    
    <!-- Schedule the custom action to run only if PROVISIONING property is set -->
    <InstallExecuteSequence>
      <Custom Action="RunProvisioningScript" After="InstallFiles">PROVISIONING AND NOT REMOVE</Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
