.compact-page {
  box-sizing: border-box;
  padding: var(--spacing-md);
  position: relative;

  > .close-window {
    position: absolute;
    right: var(--spacing-md);
    top: var(--spacing-md);
  }
}
