.mfa-settings-section {
  display: flex;
  flex-flow: column;
  row-gap: var(--spacing-xl);

  > .step {
    display: flex;
    flex-flow: column;
    row-gap: var(--spacing-sm);

    > .step-label {
      font: var(--t-body-xs-400);
      color: var(--fg-white-70);
    }

    > .methods {
      display: flex;
      flex-flow: column;
      row-gap: var(--spacing-md);
    }
  }
}
