@use '@scssutils' as *;

#client-settings-page {
  h1 {
    @include typography(app-title);
    color: var(--text-body-primary);
  }

  & > header {
    padding-bottom: 60px;
  }

  h2 {
    @include typography(app-body-1);
    color: var(--text-body-primary);
  }

  h1,
  h2,
  h3 {
    text-align: left;
  }
  a {
    text-decoration: underline;
    cursor: pointer;
  }

  & > .content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    align-items: start;
    justify-items: center;
    column-gap: 25px;
    row-gap: 25px;

    @include media-breakpoint-up(xl) {
      column-gap: 50px;
    }
    #settings-card {
      padding: 64px 25px;
    }
    & > .card {
      box-sizing: border-box;
      min-width: 600px;
      padding: 32px 64px;
    }

    #security-card {
      .more {
        @include typography(app-body-1);
      }
      min-height: 800px;
      .github {
        height: 60px;
        width: 270px;
        margin-bottom: 20px;

        p,
        span {
          @include typography(app-button-l);
          text-decoration: none;
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 600px;
        user-select: text;
        @include typography(app-body-2);
        .centered {
          margin: auto;
          margin-bottom: 20px;
        }
        li {
          text-align: left;
        }
        p {
          margin-bottom: 20px;
        }
      }
    }
  }
}
