#locations-detail-view {
  // set headers
  h1,
  h2,
  h3 {
    color: var(--text-body-primary);
    text-align: left;
  }

  h1 {
    @include typography(app-title);
  }

  h2 {
    @include typography(app-body-1);
  }

  h3 {
    @include typography(app-side-bar);
  }

  // set cards

  & > .card {
    box-sizing: border-box;
    padding: 20px 20px 20px 25px;
  }

  .location-no-connections,
  .location-no-stats {
    flex-grow: 1;

    & > * {
      max-width: 400px;
    }
  }
}
