@use '@scssutils' as *;

@mixin list-layout {
  display: inline-grid;
  grid-template-columns: 1.5fr repeat(4, 1fr);

  & > * {
    grid-row: 1;
  }
}

#locations-detail-view {
  & > .card {
    display: flex;
    flex-flow: column;
    row-gap: 20px;
    padding: 20px 0;
    min-height: 50vh;
    border-top-left-radius: 0;
    overflow: hidden;
    max-height: none;

    @include media-breakpoint-up(lg) {
      min-height: 600px;
    }

    & > .header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      row-gap: 20px;
      box-sizing: border-box;
      padding: 0 20px;
      & > .toggle {
        align-items: center;
        width: 395px;
        & > .toggle-option {
          span {
            @include typography(app-button-s);
          }
          height: 32px;
        }
      }
    }

    & > h2 {
      @include typography(app-body-1);
      width: 100%;
      box-sizing: border-box;
      padding: 20px 20px 0;
    }

    & > .info {
      display: flex;
      flex-flow: row wrap;
      column-gap: 10px;
      row-gap: 20px;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0 20px;
    }

    .location-no-connections,
    .location-no-stats {
      flex-grow: 1;

      & > * {
        max-width: 400px;
      }
    }

    & > .location-no-stats {
      padding-top: 50px;
    }

    & > .location-usage {
      box-sizing: border-box;
      padding: 0 20px;
      height: clamp(100px, 400px, 25vh);
    }

    & > .connections-list {
      height: 400px;
      @include media-breakpoint-up(lg) {
        grid-template-rows: 28px 1fr;
      }

      .headers {
        @include list-layout;
      }

      .scroll-container {
        overflow-y: auto;
        padding: 0;
        margin-right: 5px;
        grid-row: 1;
        grid-column: 1;
        padding-bottom: 1.5rem;
        @include media-breakpoint-up(lg) {
          grid-row: 2;
          padding-bottom: 40px;
        }
      }

      .custom-row {
        @include list-layout;

        align-items: center;
        grid-template-rows: 1fr;
        height: 20px;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box;

        span {
          @include typography(app-button-xl);
          color: var(--text-body-primary);
        }

        .date {
          @include typography(app-strap);
        }
      }
    }

    & > .grid-item {
      box-sizing: border-box;
      padding: 20px 25px;
      min-height: 245px;

      & > .top {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;

        & > .btn {
          margin-left: auto;
          height: 40px;
        }
      }

      & > .info {
        margin: 32px 0;
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        justify-content: space-between;
      }

      & > .no-data {
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 42px;

        @include typography(app-button-xl);

        color: var(--text-body-primary);
      }
    }
  }
}
