:root[data-theme='light'] {
  --bg-white-100: var(--c-white-100);
  --bg-white-90: var(--c-white-90);
  --bg-white-80: var(--c-white-80);
  --bg-white-70: var(--c-white-70);
  --bg-white-60: var(--c-white-60);
  --bg-white-50: var(--c-white-50);
  --bg-white-40: var(--c-white-40);
  --bg-white-30: var(--c-white-30);
  --bg-white-20: var(--c-white-20);
  --bg-white-10: var(--c-white-10);
  --bg-white-5: var(--c-white-5);
  --fg-white-100: var(--c-white-100);
  --fg-white-90: var(--c-white-90);
  --fg-white-80: var(--c-white-80);
  --fg-white-70: var(--c-white-70);
  --fg-white-60: var(--c-white-60);
  --fg-white-50: var(--c-white-50);
  --fg-white-40: var(--c-white-40);
  --fg-white-30: var(--c-white-30);
  --fg-white-20: var(--c-white-20);
  --fg-white-10: var(--c-white-10);
  --fg-white-5: var(--c-white-5);
  --bg-critical: var(--c-saturated-red-500);
  --bg-neutral: var(--c-saturated-additional-blue-neutral);
  --bg-dark-blue-60: var(--c-saturated-dark-blue-60);
  --bg-dark-blue-40: var(--c-saturated-dark-blue-40);
  --bg-dark-blue-30: var(--c-saturated-dark-blue-30);
  --bg-dark-blue-20: var(--c-saturated-dark-blue-20);
  --bg-success: var(--c-saturated-additional-success);
  --bg-warning: var(--c-saturated-orange-500);
  --bg-critical-faded: var(--c-saturated-red-400);
  --bg-critical-muted: var(--c-saturated-red-200);
  --bg-critical-disabled: var(--c-saturated-red-500-transparent);
  --border-bg: var(--c-white-100);
  --border-action: var(--fg-white-100);
  --border-action-disabled: var(--fg-white-20);
  --border-default: var(--c-white-40);
  --border-disabled: var(--c-white-20);
  --border-emphasis: var(--c-white-60);
  --border-muted: var(--c-white-20);
  --border-faded: var(--c-white-10);
  --border-critical: var(--c-saturated-red-200);
  --border-success: var(--c-saturated-additional-success);
  --border-warning: var(--c-saturated-orange-300);
  --fg-action: var(--c-saturated-blue-500);
  --fg-attention: var(--c-saturated-orange-300);
  --fg-critical: var(--c-saturated-red-200);
  --fg-critical-muted: var(--c-saturated-red-100);
  --fg-black: var(--c-dark-neutral-1400);
  --fg-faded: var(--c-dark-neutral-900);
  --fg-neutral: var(--c-dark-neutral-800);
  --fg-muted: var(--c-dark-neutral-600);
  --fg-disabled: var(--c-dark-neutral-500);
  --fg-success: var(--c-saturated-additional-success);
}
