#update-page-view {
  .banner {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: var(--radius-lg);
  }

  .title {
    font: var(--t-h4);
  }

  .description {
    color: var(--c-white-70);
    font: var(--t-body-sm-400);
  }

  .notes {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-sm);
    font: var(--t-body-xs-400);
    color: var(--c-white-80);

    a {
      color: var(--fg-action);
      text-decoration: underline;
    }

    ul {
      display: flex;
      flex-direction: column;
      row-gap: var(--spacing-xs);
      padding-left: var(--spacing-lg);
    }

    h1,
    h2,
    h3 {
      color: var(--c-white-100);
    }
  }

  .actions {
    display: flex;
    gap: var(--spacing-md);
  }
}
