.location-view-default {
  .location-mfa-row {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) 24px;
    grid-template-rows: 1fr;
    align-items: center;
    column-gap: var(--spacing-md);

    > .name {
      font: var(--t-body-xs-500);
      color: var(--fg-white-100);
    }

    .mfa-badge {
      border-radius: 4px;
      box-sizing: border-box;
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: 0 4px;
      height: 18px;
      width: 32px;
      background-color: var(--bg-white-100);

      p {
        font: var(--font-family-body);
        font-size: 11px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.11px;
        color: var(--fg-action);
      }
    }
  }
}
