@use '@scssutils' as *;

#settings-new-application-version-available {
  flex-direction: column;
  width: 100%;
  background-color: var(--surface-frame-bg);

  @include media-breakpoint-down(lg) {
    background-color: transparent;
  }

  & > .new-version-header {
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(lg) {
      display: none;
    }

    & > .new-version-download-icon {
      cursor: pointer;
    }

    & > h3 {
      margin-right: 5px;
      @include typography(markdown-h6);
      color: var(--text-body-primary);
    }
  }

  & > .new-version-subheader {
    display: flex;
    padding: 20px;
    padding-top: 8px;
    justify-content: space-between;
    color: var(--text-body-primary);
    font-weight: 300;
    font-size: 14px;

    @include media-breakpoint-down(lg) {
      display: none;
    }

    & > p {
      cursor: pointer;
      @include typography(app-copyright);
      font-size: 12px;
    }
  }

  & > .settings-new-application-version-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--surface-frame-bg);
    padding-top: 10px;
    padding-bottom: 5px;

    @include media-breakpoint-up(lg) {
      display: none;
    }

    & > p, & > div > p {
      text-align: center;
      @include typography(app-copyright);
      color: var(--text-body-primary);
    }

    & > svg {
      height: 32px;
      width: 32px;
      cursor: pointer;
    }

    & > div > p {
      cursor: pointer;
      line-height: 11px;
      margin-bottom: 5px;
    }
  }
}
