@use '@scssutils' as *;

#client-page-side {
  z-index: 2;
  position: fixed;
  inset: 0;
  height: 100%;
  max-height: 100vh;
  max-height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 70px;
  background-color: var(--surface-nav-bg);
  border-right: 1px solid var(--border-primary);
  display: flex;
  flex-flow: column;

  @include media-breakpoint-up(lg) {
    width: 270px;
  }

  & > .logo-desktop {
    display: none;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 108px;
    column-gap: 7px;
    border-bottom: 1px solid var(--border-primary);
    cursor: pointer;

    @include media-breakpoint-up(lg) {
      display: flex;
    }

    :nth-child(2) {
      path {
        fill: var(--text-body-primary);
      }
    }
  }

  & > .logo-mobile {
    display: flex;
    height: 70px;
    flex-flow: row nowrap;
    border-bottom: 1px solid var(--border-primary);
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
      display: none;
    }

    & > svg {
      width: 40px;
      height: 40px;
    }
  }

  & > .items {
    display: flex;
    flex-grow: 1;
    height: 45vh;
    flex-shrink: 0;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    row-gap: 15px;
    &.flex-end {
      justify-content: flex-end;
      @media (min-height: 600px) {
        padding-bottom: 70px;
      }
    }

    @include media-breakpoint-up(lg) {
      row-gap: 0;
    }

    @media (min-height: 600px) {
      padding-top: 70px;
    }

    & > .client-bar-item,
    & > div > .client-bar-item {
      display: grid;
      box-sizing: border-box;
      width: 100%;
      grid-template-rows: 40px;
      grid-template-columns: 40px;
      align-items: center;
      justify-content: center;

      @include media-breakpoint-up(lg) {
        grid-template-rows: 24px;
        grid-template-columns: 24px 1fr;
        padding: 0 10px 0 32px;
        height: 58px;
        column-gap: 18px;
        justify-items: start;
        align-items: center;
        justify-content: start;
        align-content: center;
      }

      & > svg,
      & > .icon-wrapper {
        margin-bottom: 20px;
        grid-column: 1;
        grid-row: 1;
        width: 40px;
        height: 40px;

        @include media-breakpoint-up(lg) {
          display: flex;
          width: 24px;
          height: 24px;
          margin-bottom: 0;
        }
      }

      & > p {
        grid-row: 1;
        grid-column: 2;
        width: 100%;
        max-width: 100%;
        text-align: left;
        user-select: none;

        @include text-overflow-dots;
        @include typography(app-side-bar);

        color: var(--text-body-tertiary);

        display: none;

        @include media-breakpoint-up(lg) {
          display: block;
        }
      }

      & > .instance-shorted {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 40px;
        height: 40px;
        background-color: var(--surface-main-primary);
        grid-row: 1;
        grid-column: 1;
        border-radius: 25%;

        @include media-breakpoint-up(lg) {
          display: none;
        }

        & > p {
          @include typography(app-side-bar);
          text-transform: uppercase;
          color: var(--text-button-secondary);
        }

        & > .connection-icon {
          position: absolute;
          right: -1px;
          top: -2px;
        }
      }

      & > .connection-icon {
        display: none;

        @include media-breakpoint-up(lg) {
          display: block;
        }
      }

      .connection-icon {
        path {
          stroke: var(--surface-important);
        }
      }

      &.active {
        & > p {
          color: var(--text-body-primary);
        }
      }

      &.connected {
        .connection-icon {
          path {
            stroke: var(--surface-positive-primary);
          }
        }
      }

      &.clickable {
        cursor: pointer;
      }

      &:not(.active) {
        &:hover {
          & > p {
            color: var(--text-body-primary);
          }
        }
      }
    }

    #instances-nav-label {
      display: none;

      @include media-breakpoint-up(lg) {
        display: grid;
      }
    }

    #settings-nav-item {
      // margin-top: auto;
    }

    #add-instance {
      @include media-breakpoint-down(lg) {
        display: grid;
        grid-template-rows: 40px;
        grid-template-columns: 40px;
        align-items: center;
        justify-content: center;
        padding: 0;
      }

      & > .icon-wrapper {
        display: flex;

        svg {
          width: 15px;
          height: 15px;
        }
      }

      & > p {
        display: none;

        @include media-breakpoint-up(lg) {
          display: block;
        }
      }
    }
  }
}

.client-bar-active-item-bar {
  width: 2px;
  height: 58px;
  display: block;
  background-color: var(--surface-main-primary);
  content: ' ';
  z-index: 3;
}

#footer-application-info {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  & > p {
    @include typography(app-copyright);
    color: var(--text-body-tertiary);
    text-align: center;

    @include media-breakpoint-down(lg) {
      padding-left: 5px;
      padding-right: 5px;
    }

    & > span {
      cursor: pointer;
    }
  }
}

.client-bar-bottom-menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
}
