CORE_URL=
PROXY_URL=
CORE_ADMIN_USER=admin
CORE_ADMIN_PASSWORD=
TEST_USERNAME=e2e_test_user
GATEWAY_VPN_IP=10.10.10.1
NETWORK_ENDPOINT=
NETWORK_NAME=e2e
NETWORK_ADDRESS=10.10.10.1/24
NETWORK_PORT=50051
NETWORK_ALLOWED_IPS=10.10.10.0/24
