<Wix
    xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
>
    <Bundle
        Name="Defguard Client"
        UpgradeCode="923b21f5-7d3f-4f5e-8dcb-43fe1c65fb43"
        Version="$(env.VERSION)"
        IconSourceFile="src-tauri\icons\icon.ico"
    >
        <BootstrapperApplication>
            <bal:WixStandardBootstrapperApplication
                LogoFile="src-tauri\icons\128x128@2x.png"
                LicenseUrl=""
                Theme="hyperlinkLicense" />

        </BootstrapperApplication>

        <Variable Name="DO_NOT_LAUNCH" bal:Overridable="yes" Value="True" />
        <!-- <Variable Name="LaunchTarget" Value="[INSTALLDIR]defguard-client.exe"/> -->

        <Chain>
            <MsiPackage
                Vital="yes"
                Visible="yes"
                Permanent="yes"
                Id="WireguardDependency"
                SourceFile="src-tauri\resources-windows\binaries\wireguard-amd64-0.5.3.msi"
            >
                <MsiProperty Name="DO_NOT_LAUNCH" Value="True" />
            </MsiPackage>

            <RollbackBoundary />

            <MsiPackage
                Vital="yes"
                Id="MainPackage"
                SourceFile="src-tauri\target\release\bundle\msi\defguard-client_$(env.VERSION)_x64_en-US.msi"
            />
        </Chain>
    </Bundle>
</Wix>
