.location-view-connected {
  > .tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--spacing-md);

    > .tile {
      background: var(--bg-white-5);
      border-radius: 8px;
      box-sizing: border-box;
      padding: var(--spacing-sm) var(--spacing-md);

      > .box-icon {
        margin-bottom: 13px;
      }

      > .label {
        font: var(--t-body-xxs-400);
        color: var(--fg-white-50);
        padding-bottom: var(--spacing-xs);
      }

      > .label-value {
        font: var(--t-body-xs-500);
      }
    }
  }

  > .connection-info {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;

    > .info {
      > .label {
        font: var(--t-body-xxs-400);
        color: var(--fg-white-50);
        padding-bottom: var(--spacing-xs);
      }

      > .label-value {
        font: var(--t-body-xs-500);
      }
    }
  }
}
