.mfa-selector {
  --bg: transparent;
  --border: var(--border-default);
  --icon: var(--fg-white-80);
  --color: var(--fg-white-80);
  --box-shadow: box-shadow: 0 4px 4px 0 rgb(0 0 0 / 0%);

  display: grid;
  grid-template-columns: 20px minmax(0, 1fr) 16px;
  column-gap: var(--spacing-sm);
  background: var(--bg);
  border: 1px solid var(--border);
  color: var(--color);
  user-select: none;
  align-items: center;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  padding: 0 var(--spacing-md);
  min-height: 40px;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
  transition-property: border-color, background, color, box-shadow;
  background-clip: padding-box;
  position: relative;

  &:hover {
    --bg: var(--bg-white-5);
    --color: var(--fg-white-100);
    --border: var(--border-action-disabled);
    --icon: var(--fg-white-100);

    > .icon-track:not(.active) {
      > .factor-icon {
        opacity: 0;
      }

      > .checkbox-indicator {
        opacity: 1;
      }
    }

    > .configure-label {
      opacity: 1;
    }
  }

  &.selected {
    --bg: var(--bg-white-10);
    --color: var(--fg-white-100);
    --border: var(--border-action-disabled);
    --icon: var(--fg-white-100);
    --box-shadow: box-shadow: 0 4px 4px 0 rgb(0 0 0 / 5%);
  }

  > .icon-track {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 20px;
    width: 20px;
    position: relative;

    > .factor-icon,
    > .checkbox-indicator {
      grid-area: 1 / 1;
      transition: opacity 120ms ease-out;
    }

    > .factor-icon {
      opacity: 1;
    }

    > .checkbox-indicator {
      opacity: 0;
    }

    &.active {
      > .factor-icon {
        opacity: 0;
      }

      > .checkbox-indicator {
        opacity: 1;
      }
    }
  }

  > .middle {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: var(--spacing-md);
  }

  .default-badge {
    display: inline-block;
    box-sizing: border-box;
    padding: 2px 5px;
    border-radius: 5px;
    background: var(--bg-white-10);

    p {
      font-family: var(--font-family-body);
      font-size: 11px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.11px;
    }
  }

  .configure-label {
    font: var(--t-body-xxs-400);
    color: var(--c-white-40);
    user-select: none;
    pointer-events: none;
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 120ms ease-out;
  }

  .factor-icon {
    --icon-color: var(--icon);

    path {
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
      transition-property: fill;
    }
  }

  .name {
    color: inherit;
    font: var(--t-body-sm-400);
  }
}
