@use '@scssutils' as *;

#enrollment {
  & > .controls {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid var(--border-primary);
    display: flex;
    flex-flow: column;
    row-gap: 10px;
    padding: 20px;

    background-color: var(--surface-nav-bg);

    @include media-breakpoint-down(lg) {
      z-index: 1;
    }

    @include media-breakpoint-up(lg) {
      background-color: transparent;
    }

    & > .actions {
      width: 100%;
      display: grid;
      grid-template-rows: 60px;
      grid-template-columns: 1fr 1fr;
      column-gap: 32px;

      @include media-breakpoint-down(lg) {
        height: 44px;
      }

      & > .btn {
        @include media-breakpoint-down(lg) {
          height: 44px;
        }
        &.variant-standard {
          svg {
            g {
              fill: var(--surface-icon-primary);
            }
          }
        }
        &.variant-primary {
          svg {
            g {
              fill: var(--surface-icon-secondary);
            }
          }
        }
      }
    }

    & > .mobile-info {
      display: flex;
      flex-flow: row nowrap;
      overflow: hidden;
      .admin-info {
        display: flex;
        flex-flow: row wrap;
        max-width: 200px;
        column-gap: 5px;

        .title {
          color: var(--text-body-primary);
          font-weight: 400;
        }

        p,
        span {
          @include typography(app-copyright);
        }
      }
      & > .time-left {
        margin-left: auto;
        text-align: right;

        p {
          @include typography(app-copyright);
        }
      }
    }

    @include media-breakpoint-up(lg) {
      border: 0 solid transparent;
      position: relative;
      padding: 0;

      & > .mobile-info {
        display: none;
      }
    }
  }
}
