.details-fold {
  display: flex;
  flex-flow: column;
  row-gap: var(--spacing-3xl);

  > .group {
    display: flex;
    flex-flow: column;
    row-gap: var(--spacing-sm);

    > p {
      font: var(--t-body-sm-500);
      color: var(--fg-white-70);
      user-select: none;
    }

    > .card {
      box-sizing: border-box;
      display: flex;
      flex-flow: column;
      row-gap: var(--spacing-lg);
      border-radius: 12px;
      border: 1px solid var(--border-disabled);
      padding: var(--spacing-md);

      &.compact {
        row-gap: var(--spacing-md);
      }

      .row {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
        column-gap: var(--spacing-2xl);

        :nth-child(1) {
          user-select: none;
          font: var(--t-body-xs-400);
          color: var(--fg-white-80);
          text-align: left;
          flex-shrink: 0;
        }

        :nth-child(2) {
          font: var(--t-body-xs-400);
          color: var(--fg-white-100);
          text-align: right;
          max-width: 365px;
          min-width: 0;
          overflow-wrap: anywhere;
          word-break: break-word;
        }
      }
    }
  }
}
