@use '@scssutils' as *;

#enrollment {
  #enrollment-welcome-card {
    box-sizing: border-box;
    padding: 50px 40px;
    width: 100%;
    max-width: 650px;

    & > h3 {
      user-select: none;
      margin-bottom: 30px;
    }

    & > .explenation {
      user-select: none;
      margin-bottom: 30px;
      p,
      ul,
      ol,
      span {
        @include typography(app-welcome-2);

        color: var(--text-body-tertiary);
      }

      strong {
        color: var(--text-body-primary);
      }
    }

    & > .admin-info {
      user-select: text;
      & > p {
        &:not(.title) {
          font-weight: 700;
        }
      }
      & > .title {
        user-select: none;
      }
    }
  }
}
