@use '@scssutils' as *;

#add-tunnel-form-card {
  & > header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 10px;
    gap: 10px;

    h2 {
      text-wrap: nowrap;
    }

    .controls {
      margin-left: auto;
      display: flex;
      flex-flow: row nowrap;
      gap: 10px;
      align-items: center;
      justify-content: flex-start;

      & > .btn {
        min-width: 135px;

        span {
          display: block;
          padding: 0 1px;
        }
      }
    }
  }
}
