@use '@scssutils' as *;

#created-page {
  h1 {
    @include typography(app-title);
    color: var(--text-body-primary);
  }

  h2 {
    @include typography(app-body-1);
    color: var(--text-body-primary);
  }
  h3 {
    @include typography(app-side-bar);
    color: var(--text-body-primary);
  }
  display: flex;
  justify-content: center;
  align-items: center;

  & > .content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(xxl) {
      justify-content: flex-start;
    }

    & > * {
      width: 100%;
      max-width: 700px;
    }

    & > .card {
      box-sizing: border-box;
      padding: 32px 64px;
      height: 450px;
      width: 700px;
      display: flex;
      & > .card-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        & > p {
          @include typography(app-body-2);
          text-align: center;
        }
        & > button {
          width: 260px;
          height: 50px;
        }
      }
    }
  }
}
