#locations-grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, 445px);
  grid-auto-rows: auto;
  align-items: start;
  align-content: center;
  justify-content: center;
  gap: 20px;

  @include media-breakpoint-up(lg) {
    justify-content: start;
    align-content: start;
    gap: 50px;
  }

  & > .grid-item {
    box-sizing: border-box;
    padding: 20px 25px;
    min-height: 275px;

    & > .top {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      column-gap: 10px;

      & > .btn {
        margin-left: auto;
        height: 40px;
      }
    }

    & > .route {
      width: 100%;
      display: flex;
      flex-flow: column;
      row-gap: 8px;
      justify-content: space-between;
      padding-top: 20px;

      .top {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
      }

      .toggle {
        .toggle-option {
          height: 32px;

          span {
            text-align: left;
            @include typography(app-button-s);
          }
        }
      }
    }

    & > .info {
      display: flex;
      flex-flow: row;
      align-items: flex-start;
      justify-content: space-between;
      padding-top: 20px;
    }

    & > .location-usage {
      display: flex;
      flex-direction: column;
      gap: 2;
      width: 100%;
      margin: auto;
      padding: 20px 0;

      & > .summary {
        display: flex;
        justify-content: space-between;
      }
    }

    .location-no-stats {
      padding-top: 32px;
      height: max-content;
      width: 100%;
    }

    .location-no-connections {
      padding-top: 32px;
      height: max-content;
      width: 100%;
    }
  }
}
