.modal > .modal-content #mfa-settings-view {
  .methods {
    display: flex;
    flex-flow: column;
    row-gap: var(--spacing-md);
  }

  .steps {
    display: flex;
    flex-flow: column;
    row-gap: var(--spacing-xl);

    > .step {
      display: flex;
      flex-flow: column;
      row-gap: var(--spacing-sm);

      > .step-label {
        font: var(--t-body-xs-400);
        color: var(--fg-white-70);
      }
    }
  }

  .controls {
    padding-top: 0;
  }
}
