@use 'sass:map';
@use 'sass:list';

$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);

@function break-next(
  $name,
  $breakpoints: $grid-breakpoints,
  $breakpoint-names: map.keys($breakpoints)
) {
  $n: list.index($breakpoint-names, $name);

  @if not $n {
    @error "breakpoint `#{$name}` not found in `#{$breakpoints}`";
  }

  @if $n < list.length($breakpoint-names) {
    @return list.nth($breakpoint-names, $n + 1);
  }

  @return null;
}

@function break-min($name, $breakpoints: $grid-breakpoints) {
  $min: map.get($breakpoints, $name);

  @if $min != 0 {
    @return $min;
  }

  @return null;
}

@function break-max($name, $breakpoints: $grid-breakpoints) {
  $max: map.get($breakpoints, $name);

  @if $max and $max > 0 {
    @return $max - 0.02;
  }

  @return null;
}

@mixin break-up($name, $breakpoints: $grid-breakpoints) {
  $min: break-min($name, $breakpoints);

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin break-down($name, $breakpoints: $grid-breakpoints) {
  $max: break-max($name, $breakpoints);

  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin break-between($lower, $upper, $breakpoints: $grid-breakpoints) {
  $min: break-min($lower, $breakpoints);
  $max: break-max($upper, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include break-up($lower, $breakpoints) {
      @content;
    }
  } @else if $min == null {
    @include break-down($upper, $breakpoints) {
      @content;
    }
  }
}

@mixin break-only($name, $breakpoints: $grid-breakpoints) {
  $min: break-min($name, $breakpoints);
  $next: break-next($name, $breakpoints);
  $max: break-max($next, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include break-up($name, $breakpoints) {
      @content;
    }
  } @else if $min == null {
    @include break-down($next, $breakpoints) {
      @content;
    }
  }
}
