.floating-menu {
  border-radius: 12px;
  box-sizing: border-box;
  padding: 8px;
  background-color: var(--c-saturated-dark-blue-60);

  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(12.5px);
}
