.connect-button {
  --bg: var(--bg-white-100);
  --shadow: 0 4px 5px 0 rgb(53 84 179 / 7%);
  --color: var(--fg-action);
  --border: var(--bg);

  background: var(--bg);
  border: 1px solid var(--border);
  color: var(--color);
  box-shadow: var(--shadow);
  transition-duration: 200ms;
  transition-property: background, border-color, box-shadow, color;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  min-height: 38px;
  box-sizing: border-box;
  padding: 0 var(--spacing-lg);

  &:not(.connected):hover {
    --bg: var(--bg-white-80);
  }

  &.connected {
    --bg: transparent;
    --color: var(--fg-white-100);
    --border: var(--border-default);

    &:hover {
      --border: var(--border-default);
      --bg: var(--bg-white-10);
    }
  }

  p {
    font: var(--t-body-sm-600);
    color: inherit;
  }
}
