.playground-card:has(> .playground-test-mfa-settings-section) {
  background-color: var(--bg-dark-blue-40);
}

.playground-test-mfa-settings-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  align-items: center;

  .demos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 32px;
    width: 100%;
  }

  .demo {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 296px;
  }
}
