@use '@scssutils' as *;

#client-page {
  width: 100%;
  box-sizing: border-box;
  padding: 64px 75px 64px calc(75px + 270px);
  min-height: 100vh;
  background-color: var(--surface-frame-bg);
  @include media-breakpoint-down(lg) {
    padding: 64px 15px 64px calc(75px + 100px);
  }

  & > header {
    width: 100%;
    display: flex;
    flex-flow: row;
    margin-bottom: 60px;
    align-items: center;

    & > h1 {
      @include typography(app-title);
      color: var(--text-body-primary);
      margin-right: 30px;
    }
    .select-container {
      height: 40px;
      width: 134px;
    }
  }
}
