@use '@scssutils' as *;

@mixin list-layout {
  display: inline-grid;
  grid-template-columns: minmax(180px, 25%) repeat(3, 1fr) auto;

  // Adjust for larger screens.

  & > * {
    grid-row: 1;
  }
}

#locations-detail-view {
  & > .card {
    display: flex;
    flex-flow: column;
    row-gap: 20px;
    padding: 20px;
    min-height: 50vh;
    border-top-left-radius: 0;
    overflow: hidden;
    max-height: none;

    @include media-breakpoint-up(lg) {
      min-height: 600px;
    }

    & > .header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      row-gap: 20px;
    }

    & > .info {
      display: flex;
      flex-flow: row wrap;
      column-gap: 10px;
      row-gap: 20px;
      align-items: center;
      justify-content: space-between;
    }

    .location-no-data {
      flex-grow: 1;

      & > * {
        max-width: 400px;
      }
    }

    & > .location-usage {
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      margin: auto;
      & > .summary {
        display: flex;
        justify-content: space-between;
      }
    }

    & > .connections-list {
      height: 450px;
      @include media-breakpoint-up(lg) {
        grid-template-rows: 28px 1fr;
      }

      .headers {
        @include list-layout;
      }

      .scroll-container {
        overflow-y: auto;
        padding: 0;
        margin-right: 5px;
        grid-row: 1;
        grid-column: 1;
        padding-bottom: 1.5rem;
        @include media-breakpoint-up(lg) {
          grid-row: 2;
          padding-bottom: 40px;
        }
      }

      .default-row {
        @include list-layout;

        align-items: center;
        grid-template-rows: 1fr;
        height: 60px;
        cursor: pointer;

        .upload,
        .download,
        .date,
        .connected-from,
        .duration {
          @include typography(app-side-bar);
          color: var(--text-body-primary);
        }
      }
    }

    & > .grid-item {
      box-sizing: border-box;
      padding: 20px 25px;
      min-height: 245px;

      & > .top {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;

        & > .btn {
          margin-left: auto;
          height: 40px;
        }
      }

      & > .info {
        margin: 32px 0;
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        justify-content: space-between;
      }

      & > .no-data {
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 42px;

        @include typography(app-button-xl);

        color: var(--text-body-primary);
      }
    }
  }
}
