@use '@scssutils' as *;

#locations-detail-view {
  & > .card {
    & > h2 {
      @include typography(app-welcome-1);
      color: var(--text-body-primary);
    }
    padding: 2rem 2rem;
    & > .header {
      display: flex;
      justify-content: space-between;
    }
    border-top-left-radius: 0;
    height: 800px;
    width: 90%;
    & > .location-usage {
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      margin: auto;
      & > .summary {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  & > .grid-item {
    box-sizing: border-box;
    padding: 20px 25px;
    min-height: 245px;

    & > .top {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;

      & > .btn {
        margin-left: auto;
        height: 40px;
      }
    }

    & > .info {
      margin: 32px 0;
      display: flex;
      flex-flow: row;
      align-items: flex-start;
      justify-content: space-between;
    }

    & > .no-data {
      width: 100%;
      display: block;
      text-align: center;
      margin-top: 42px;

      @include typography(app-button-xl);

      color: var(--text-body-primary);
    }
  }
}
