@use '@scssutils' as *;

#client-locations-list {
  width: 100%;
  & > header {
    width: 100%;
    margin-bottom: 36px;
    display: flex;
    flex-flow: row;

    h3 {
      @include typography(app-body-1);

      color: var(--text-body-primary);
      user-select: none;
    }
  }
}
